{:deps   {io.github.drcode/fbc-utils       {:git/sha "ee6470d1f9e525bbf0b381f05fa6926594d2d7b0"}
          io.github.drcode/snek            {:git/sha "00bcdebf5ffe57f1adf3b5a7cbc92cb7c5db54e2"}
          com.walmartlabs/lacinia          {:mvn/version "1.1"}
          com.walmartlabs/lacinia-pedestal {:mvn/version "0.5.0"}
          io.replikativ/datahike           {:mvn/version "0.5.1507"}
          buddy/buddy-hashers              {:mvn/version "1.8.158"}
          clj-pid/clj-pid                  {:mvn/version "0.1.2"}
          backtick/backtick                {:mvn/version "0.3.4"}}
 :paths ["src"]}
